$main-font-color:  #fff;
$font-family-first: 'Montserrat', sans-serif;
$font-family-second: 'Roboto', sans-serif;
$font-family-third: 'Kaushan Script', cursive;
$team-text-color: #999999;
$main-bg-color: #fce38a;
$secondary-bg-color: #f38181;
$main-font-size: 14px;