.email-form {
  font-size: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.email-form__input {
  width: 230px;
  height: 40px;
  border: 1px solid #e7e7e7;
  border-right: none;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  color: $team-text-color;
  padding: 14px;
}

.email-form__input::placeholder {
  font-family: $font-family-second;
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  color: $team-text-color;
}

.email-form__button {
  width: 150px;
  height: 40px;
  background-color: #95e1d3;
  border: 0;
  font-family: $font-family-first;
  font-weight: 700;
  font-size: $main-font-size;
  color: $main-font-color;
  text-transform: uppercase;
  padding: 12px 34px;
}
