@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.wrapper {
    width: 900px;
    margin: auto;
}
nav ul {
    text-align: center;
}
nav li {
    display: inline-block;
    font-family: 'Playfair Display' sans-serif;
    font-size: 14px;    
    margin: 75px 100px 100px 0px;
}
nav li:last-child {    
    margin-right: 0;
}
a {
    color: #626262;
    text-decoration: none;
    text-transform: uppercase;
}
nav li a:hover {
    color: #03a9f4;
}
.posts {
    font-size: 0;
}
.column {
    display: inline-block;
    width: 420px;
    margin-right: 60px;
    margin-bottom: 130px;
}
.column:nth-child(even) {
    margin-right: 0;
}
.column:nth-last-child(-n+2) {
    margin-bottom: 55px;
}
.column .title {
    font-family: 'Ubuntu',sans-serif;
    font-size: 14px;
    color: #dedbd4;
    margin-top: 26px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.column h2 {
    font-family: 'Playfair Display';
    font-size: 30px;
    color:#626262;
    font-weight: 200;
    margin-bottom: 35px;
}
.text {
    font-family: 'Playfair Display';
    font-size: 14px;   
    color:#626262;
    margin-top: 20px;
    line-height: 1.8;
}
.column img {
    display: block;
    width: 100%;
    height: auto;
}
button {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    border: 1px solid #626262;
    padding: 20px 35px;
    margin-bottom: 75px;
    font-family: 'Playfair Display';
    background-color: #ffffff;
    color: #626262;
}
