@import url('https://fonts.googleapis.com/css?family=Roboto:300,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.wrapper {
    width: 100%;
    margin: 0 auto;
}
.page-header {
    width: 1110px;
    margin: auto;
    padding: 40px 0px;
}
.logotype {
    float: left;
}
.logo {
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    color: #515151;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.logotype::first-letter {
    color: #1ABC9C;
    font-weight: 900;
}
.menu {
    list-style: none;
    float: right;
    font-size: 14px;
    margin-top: 10px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.menu li {
    float: left;
    margin-right:35px;
}
.menu li:nth-child(6) {
    margin-right: 0px;
}
.menu a {
    text-decoration: none;
    color: #000000; 
}
.menu a:hover {
    color: #1ABC9C; 
}
.clearfix::after {
    content: "";
    clear: both; 
    display: table;
}
.slider {
    position: relative;
    height: 600px;
    margin-bottom: 100px;
}
.button-wrapper {
    width: 1100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.button-ctrl {
    width: 104px;
    height: 104px;
    background-color: #1abc9c;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}
.button-ctrl:hover,
.button-ctrl:focus {
  background-color: rgba(26, 188, 156, 0.5);
}
.button-ctrl-prev {
    float: left;
    background-image: url(../img/arrow-prev.png);
    background-repeat: no-repeat;
    background-position: center;
}
.button-ctrl-next {
    float: right;
    background-image: url(../img/arrow-next.png);
    background-repeat: no-repeat;
    background-position: center;
}
.background_image {
    width: 100%;
    height: 600px;
    background-image: url(../img/slider.png);
    background-size: cover;
    background-position: center;
}
.background_image::after {
    position: absolute;
    width: 100%;
    height: 600px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 2, 0.52);
}
.slider-about {
    position: absolute;
    width: 790px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    color: #ffff;
    text-transform: uppercase;
}
.slider-header {
    font-size: 60px;
    line-height: 82px;
    font-weight: 900;
}
.slider-text {
    font-size: 24px;
    line-height: 54px;
}
.collection {
    width: 1110px;
    margin: inherit;
    padding-bottom: 100px;
}
.heading{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: #515151;
    font-size: 48px;
}
.heading::after {
    content: '';
    display: block;
    width: 160px;
    height: 10px;
    background-color: #1ABC9C;
    margin: 30px auto 0;
}
.cataloge {
    padding-top: 80px;
    width: 1110px;
    margin: auto;
}
.overlay {
    display: block;
    position: absolute;
    width: 234px;
    height: 260px;
    background: rgba(0, 0, 0, 0.55);
    left: 10px;
    top: 10px;
    opacity: 0;
}
.product:hover .overlay {
    opacity: 0.949;
}
.icons {
    list-style-type: none;
    position: relative;
    width: 166px;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 50%;
    transform: translateY(-50%);
}
.icons_style {
    width: 50px;
    height: 50px;
    border: 1px solid #ffff;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    margin-right: 8px;
    margin-bottom: 8px;
}
li .icon_clock:not(:nth-of-type(3n)) {
    margin-right: 0px;
}
.icons_style:hover {
    background-color: #1abc9c;
}
.icon_basket:hover {
    background-color: #323232;
}
.icon_like {
    background-image: url(../img/button-like.png);
}
.icon_share {
    background-image: url(../img/button-share.png);
}
.icon_clock {
    background-image: url(../img/button-clock.png);
}
.icon_basket {
    width: 166px;
    height: 50px;
    border: 1px solid #ffff;
    background-color: transparent;
    background-image: url(../img/button-basket.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
}
.icon_basket_text {
    display: inline-block;
    padding-left: 30px;
    text-transform: uppercase;
    color: #ffff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.product img {
    display: block;
    background-color:#E9F0FD;
}
.product {
    position: relative;
    float: left;
}
.product:not(:nth-child(4n)) {
    margin-right: 30px;
}
.product:not(:nth-last-child(-n+4)) {
    margin-bottom: 30px;
}
.product_item {
    float: left;
    padding: 10px;
    width: 200px;
    height: 40px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.price {
    float: left;
    padding: 10px;
    width: 55px;
    height: 40px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.44);
}
.card {
    background-color: #323232;
}
.product:hover .card {
    background-color: #1abc9c;
}
footer {
    height: 90px;
    background-color: #323232;
    position: relative;
}
footer p {
    position: absolute;
    margin: 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 28px;
    font-size: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
footer a {
    text-decoration: none;
    color: #46bfa9;
}