@import url('https://fonts.googleapis.com/css?family=Roboto:300,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.wrapper {
    width: 1600px;
    margin: auto;
}
.page-header {
    width: 1110px;
    padding-top: 40px;
    margin: auto;
}
.logotype {
    float: left;
}
.logo {
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    color: #515151;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.logotype::first-letter {
    color: #1ABC9C;
    font-weight: 900;
}
.menu {
    list-style: none;
    float: right;
    font-size: 14px;
    margin-top: 10px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.menu li {
    float: left;
    margin-right:35px;
}
.menu li:nth-child(6) {
    margin-right: 0px;
}
.menu a {
    text-decoration: none;
    color: #000000; 
}
.menu a:hover {
    color: #1ABC9C;
}
.clearfix::after {
    content: "";
    clear: both; 
    display: table;
}
.slider {
    position: relative;
    height: 600px;
    margin: auto;
}
.slider-ctrl {
    position: absolute;
    border: none;
    display: inline-block;
    width: 95px;
    height: 110px;
    top: 50%;
    transform: translateY(-50%);
}
.prev {
    z-index: 1;
    left: 245px;
    background-color: rgba(26, 188, 156, 0.3);
    background-image: url(../img/arrow-prev.png);
    background-repeat: no-repeat;
    background-position: center;
}
.next {
    z-index: 1;
    right: 245px;
    background-color: rgba(26, 188, 156, 0.7);
    background-image: url(../img/arrow-next.png);
    background-repeat: no-repeat;
    background-position: center;
}
.slides {
    margin: 0;
    padding: 0;
    list-style-type: none;  
}
.slides_item {
    position: relative;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}
.slides_image {
    object-fit: cover;
}
.overlay {
    width: 1600px;
    height: 600px;
    top: 0;
    left: 0;
} 
.title {
    position: absolute;
    font-size: 60px;
    font-weight: 900;
}
.text {
    position: absolute;
    font-size: 24px;
    font-weight: 300;
    top: 45%;
    left: 25%;
}
.heading{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: #515151;
    font-size: 48px;
}
.heading::after {
    content: '';
    display: block;
    width: 160px;
    height: 10px;
    background-color: #1ABC9C;
    margin: 30px auto 0;
}
.cataloge {
    padding-top: 80px;
    width: 1110px;
    margin: auto;
}
.product img {
    display: block;
    background-color:#E9F0FD;
}
.product {
    float: left;
}
.product:not(:nth-child(4n)) {
    margin-right: 30px;
}
.product:not(:nth-last-child(-n+4)) {
    margin-bottom: 30px;
}
.product_item {
    float: left;
    padding: 10px;
    width: 200px;
    height: 40px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.price {
    float: left;
    padding: 10px;
    width: 55px;
    height: 40px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.44);
}
.card {
    background-color: #323232;
}
.product:hover .card {
    background-color: #1abc9c;
}